<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.AnchorBaseInfoDao" >

    <select id="getAnchorBaseInfoByPlatRoom" resultType="com.example.bean.AnchorBaseInfoBean">
        SELECT platform_id,room_id,sex from live_platform.anchor_base_info where platform_id=#{0} and room_id=#{1} ;
    </select>

</mapper>